/* Form styles */
.form__header {
  font-size: 2rem;
  color: #6161c4;
  margin-bottom: 20px;
}

.login-form, .signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: clamp(100%, 100%, 500px);
  width: min-content;
  gap: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__password-container {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.form__field {
  background-color: #eee;
  color: #6161c4;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.form__submit-btn {
  background-color: #86a8e7;
  color: #fff;
  font-size: 12px;
  padding: 10px 40px;
  margin: 5px 0px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form__submit-btn:hover {
  background-color: #6e95d1;
  transition: background-color 0.3s ease;
}

.form__terms {
  color: rgb(207, 207, 207);
  font-size: 12px;
  text-align: center;
  margin: 0 10px;
}

/* Form divider styles */
.form__divider {
  font-size: 30px;
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.form__divider::before,
.form__divider::after {
  flex: 1;
  content: "";
  padding: 0.5px;
  background-color: rgb(207, 207, 207);
  width: 120px;
}

.form__divider span {
  position: relative;
  padding: 0 10px;
  color: rgb(207, 207, 207);
  background-color: white;
  font-size: 16px;
  font-weight: 500;
}

/* Social icons styling */
.form__social-icons {
  display: flex;
  gap: 35px;
  margin-bottom: 20px;
}

.form__icon {
  flex-grow: 1;
  display: flex;
  gap: 5px;
  font-size: 12px;
  border: 1px solid #dadce0;
  transition: background-color 0.3s ease;
}

.form__icon:hover {
  background-color: rgb(207, 207, 207);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Terms styling */
.form__terms {
  color: rgb(207, 207, 207);
  font-size: 12px;
  text-align: center;
  margin: 0 10px;
}

.form__error-status {
  color: red;
  font-weight: bold;
}
