/* Base styles for layout and splash page */

/* Root level and global styles */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #c9d6ff;
  background: linear-gradient(to right, #7f7fd5, #86a8e7);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}