@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

btn {
  border: 1px solid #dadce0;
}

body {
  background-color: #c9d6ff;
  background: linear-gradient(to right, #7f7fd5, #86a8e7);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.splash-page {
  display: flex;
  background-color: #fff;
  border-radius: 30px;
  position: relative;
  width: clamp(700px, 75vw, 800px);
  height: 60vh;
}

/* FORM STYLES */

.form__header {
  font-size: 2rem;
  margin-bottom: 20px;
}

.splash-page__forms {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-form,
.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  gap: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: clamp(100%, 100%, 500px);
  height: max-content;
  gap: 5px;
}

.form__password-container {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.form__field {
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.form__submit-btn {
  background-color: #86a8e7;
  color: #fff;
  font-size: 12px;
  padding: 10px 40px;
  margin: 5px 0px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
}

.form__terms {
  color: rgb(207, 207, 207);
  font-size: 12px;
  text-align: center;
  margin: 0 10px;
}

button .hidden {
  background-color: transparent;
  border-color: #fff;
}

/* FORM DIVIDER STYLES */
.form__divider {
  font-size: 30px;
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.form__divider::before,
.form__divider::after {
  flex: 1;
  content: "";
  padding: 0.5px;
  background-color: rgb(207, 207, 207);
  width: 120px;
}

.form__divider span {
  position: relative;
  padding: 0 10px;
  color: rgb(207, 207, 207);
  background-color: white;
  font-size: 16px;
  font-weight: 500;
}

@keyframes move {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.form__social-icons {
  display: flex;
  gap: 35px;
  margin-bottom: 20px;
}

.form__icon {
  flex-grow: 1;
  display: flex;
  gap: 5px;
  font-size: 12px;
  border: 1px solid #dadce0;
}

/* .social-icons a {
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
} */

/* TOGGLE STYLES */
.toggle-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 80px 30px 30px 80px;
  z-index: 1000;
}

.splash-page.active .toggle-container {
  transform: translateX(-100%);
  border-radius: 30px 80px 80px 30px;
}

.toggle {
  height: 100%;
  background: linear-gradient(to right, #9fbdf0, #b6c0ed, #9fbdf0, #b6c0ed);
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle p {
  opacity: 0.7;
}

.toggle__btn {
  font-size: 12px;
  padding: 10px 40px;
  margin: 15px 0px;
  border: 1px solid transparent;
  border-radius: 8px;

  background-color: #86a8e7;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
}

.splash-page.active .toggle {
  transform: translateX(50%);
}

.toggle__left,
.toggle__right {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle__left {
  transform: translateX(-200%);
}

.splash-page.active .toggle__left {
  transform: translateX(0);
}

.toggle__right {
  right: 0;
  transform: translateX(0);
}

.splash-page.active .toggle__right {
  transform: translateX(200%);
}
